* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* contenitore pagina */

.container {
    width: 80%;
    height: 1800px;
    border: 3px solid red;
    margin: 0 auto;

}

clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.Box {
    height: 700px;
    width: calc(100% / 3);
    float: left;
    position: relative;
    padding-right: 20px;

}


.img {
    height: 100%;
    width: 100%;



}

.effetto-hover {
    height: 100%;
    width: 100%;
    display: none;

}

.Box:hover .img {
    display: none;
}

.Box:hover .effetto-hover {
    display: block;
}

.heart {
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 80px;
    padding: 2px 30px;
    background-color: white;
}

.sconti {
    position: absolute;
    bottom: 20px;
    left: 0px;
    font-size: 20px;
    padding: 2px 10px;
    color: white;
    background-color: red;

}

.tessuto {
    position: absolute;
    bottom: 20px;
    left: 70px;
    font-size: 20px;
    padding: 2px 10px;
    color: white;
    background-color: green;
}

.descrizione {
    font-size: 25px;
}

.costo {
    font-size: 27px;
    color: red;
    position: absolute;
    bottom: -105px;
}

/* fine prima immagine */

/* inizio  terza immagine */

.descrizione-color {
    font-size: 27px;
    text-align: left;
    background-color: rgb(60, 155, 60);
    padding: 20px;
}